*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "watermin";
    src: url("../font/WatermintScript.woff");
}

body, html{   
    color: #777;
    height: 100%;   
}

/*########## Barra Navegação ############*/
.barra_navg{
    width: 100%;
    height: auto;
    background-color: rgb(44, 44, 44);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_barranavg{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo_barranavg a{
    margin-left: 0.9rem; 
    color: gold;
    font-size: 30px;
    font-family: watermin; 
    text-decoration: none; 
}

.logo img{
    width: 50px;
    height: auto;
    margin-left: 1rem;
}

.barra_navg ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1rem;
}

.barra_navg ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1rem;
    font-size: 20px;
}

.barra_navg ul li a{
    color: #fff;
    text-decoration: none;
}

.barra_navg ul li a:hover{
    color: gold;
}

.conteudo{
    color: #777;
    background-color: #111;
    text-align: justify;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo img{
    width: 10%;
}
h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
    margin-bottom: 20px;
}
/*============ Efeito Parallax==============*/
.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../img/lenco_laranja_03.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa2{
    background-image: url(../img/lenco_verde_01.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa3{
    background-image: url(../img/imagem3.jpg);
}
.caixa4{
    background-image: url(../img/imagem4.jpg);
}

.faixa_logo{
    width: 100%;
    height: auto;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.conteudo_faixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.imglogo_faixa{
    width: 10%;
}

.logo_faixa{
    color: gold;
    font-size: 100px;
    font-family: watermin;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
}

.faixa_logo hr{
    width: 100%;
    border: 1px solid gold;
    margin: 20px 0;
}

.whatsapp{
    width: 35%;
    height: auto;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.whatsapp p{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: gold;
    letter-spacing: 5px;
    margin-left: 1rem;
}

.icon_whatsapp{
    width: 8%;
}

.texto_produtos{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;    
}

hr{
    width: 100%;
    border: 1px solid #5252527e;
    margin: 20px 0;
}

.texto_mensagem{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

.conteudo_produtos{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;    
    margin-top: 5rem;
}    
    

.div-imgcard{
    /* border: 2px solid rgb(63, 62, 62); */
    width: 20%;
    border-radius: 20px;
    display: flex;
    box-shadow: 4px 6px 4px rgba(65, 64, 64, 0.692);
    margin-bottom: 1rem;
}

.card{
    width: 20%;
    height: auto;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #000000d2;
}

.imgcard{
    width: 100%;
    border-radius: 20px;   
}

.descricao{
    margin-top: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: bold; */
}

.valorproduto{
    text-align: center;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    color: rgb(187, 3, 3);
    line-height: 32px;
    margin-bottom: 0.1rem;
}

.formapagamento{
    text-align: center;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px #000000;
    padding: 1rem;
}

.informacao_produtos_modal{
    width: 50%;    
}

.interno_modal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.interno_modal img{
    width: 40%;
    height: auto;
}

.btn_close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border: none;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (min-width: 1000px){
    .interno_modal{
        flex-wrap: nowrap;
    }

    .conteudo img{
        width: 10%;
    }

    .conteudo h2{
        font-family: watermin; 
        color: gold; 
        font-size: 80px;    
    }

    .texto_mensagem{
        font-size: 40px;
        text-align: center;
    }

    .conteudo hr{
        width: 100%;
        border: 1px solid gold;
    }

    .texto_produtos{
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px){
    .card{
        width: 40%;
    }

    .div-imgcard{
        width: 40%;
    }

    .imgcard{
        width: 100%;
    }

    .descricao{
        font-size: 12px;
    }

    .valorproduto{
        font-size: 20px;
    }

    .formapagamento{
        font-size: 12px;
    }

    .interno_modal{
        flex-direction: column;
        padding: 1rem;
    }
    .conteudo{
        padding: 20px;
    }

    .conteudo img{
        width: 20%;
    }

    .conteudo h2{
        font-family: watermin; color: gold; font-size: 50px;    
    }

    .texto_mensagem{
        font-size: 20px;
        text-align: center;
    }

    .conteudo hr{
        width: 100%;
        border: 1px solid gold;
    }
    
    .barra_navg{
        flex-direction: column;
        align-items: center;
    }

    .logo_barranavg{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 500px){
    .conteudo_produtos{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .card{
        width: 70%;
    }

    .div-imgcard{
        width: 70%;
    }

    .imgcard{
        width: 100%;
    }

    .descricao{
        font-size: 12px;
    }

    .valorproduto{
        font-size: 20px;
    }

    .formapagamento{
        font-size: 12px;
    }

    .interno_modal{
        flex-direction: column;
        padding: 1rem;
    }
    
    .logo_faixa{
        font-size: 50px;
    }

    .whatsapp p{
        font-size: 30px;
    }

    .caixa1, .caixa2, .caixa3, .caixa4{
        height: 200%;
       
    }

    .barra_navg{
        flex-direction: column;
        align-items: center;
    }

    .logo_barranavg{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whatsapp{
        width: 100%;
    }

    .whatsapp p{
        font-size: 40px;
    }

    .conteudo{
        padding: 20px;
    }

    .conteudo img{
        width: 20%;
    }

    .conteudo h2{
        font-family: watermin; color: gold; font-size: 50px;    
    }

    .texto_mensagem{
        font-size: 20px;
        text-align: center;
    }

    .conteudo hr{
        width: 100%;
        border: 1px solid gold;
    }
}